{
  "root": true,
  "extends": [
    "standard",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "html",
    "vue",
    "node",
    "security"
  ],
  "globals": {},
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "security/detect-object-injection": 0,
    "security/detect-non-literal-fs-filename": 0,
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}